@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  padding: 70px 70px;
  border-radius: 15px;
  /* max-width: 1200px; */
  width: 100%;
  /* margin: 80px auto; */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 26px;
  margin-bottom: 40px;
  color: white;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 20px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #b3c0d9;
}

.languages {
  max-width: 380px;
  width: 100%;
}

.languages a {
  color: #fff;
  text-decoration: none;
  margin: 5px 10px 10px 0;
  display: inline-block;
}

.languages a.active {
  background-color: #4da8da;
  color: #ffffff;
  padding: 3px 8px;
  border-radius: 5px;
}

.languages a:hover {
  color: #b3c0d9;
}

.social-icons a {
  color: #fff;
  font-size: 40px;
  margin-right: 60px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #b3c0d9;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom a {
  color: #b3c0d9;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom a:hover {
  color: #ffffff;
}

@media (max-width: 750px) {
  footer {
    margin: 60px auto;
  }

  .footer-container {
    flex-direction: column;
    gap: 50px;
  }

  .footer-bottom {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
